/* !fonts */

@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

/* !core styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* fonts */
  --logo-font: "Goldman", cursive;
  --header-font: "Open Sans", sans-serif;
  --p-font: "Nunito Sans", sans-serif;
  /* font-size */
  --header-font-size: 30px;
  --sub-header-font-size: 20px;
  --p-font-size: 14px;
  /* line-height */
  --p-height: 2.4rem;
  /* color */
  --bg-color: #f7f4f4;
  --bg-black: #242424;
  --pink: #d740ab;
  --blue: #1e8394;
  --red: #b80000;
  --green: #065b0c;
  --figcaption-border: rgb(78, 78, 78);
}

html {
  font-size: 10px;
}
body {
  background: var(--bg-color);
}
ul {
  list-style-type: none;
}

h1 {
  font-family: var(--header-font);
}
a {
  font-family: var(--header-font);
}
p {
  line-height: var(--p-height);
  font-size: var(--p-font-size);
  font-family: var(--p-font);
}
figcaption p {
  font-family: var(--header-font);
  font-weight: bold;
  font-size: var(--sub-header-font-size);
}
label {
  font-family: var(--p-font);
  color: var(--bg-black);
}
img {
  max-width: 100%;
}
/* main */
main h1 {
  text-align: center;
  padding: 20px;
  font-size: var(--header-font-size);
  color: var(--blue);
}
/* !header */

/* !nav-bar */
.nav-bar {
  background: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  height: 70px;
  color: white;
}

.nav-bar div {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

/* menu */
#hamburger {
  grid-column: 3;
  font-size: 2rem;
  cursor: pointer;
}

/* logo */
.logo {
  max-width: 50px;
  margin-left: 8%;
}

.logo-text {
  white-space: nowrap;
  font-family: var(--logo-font);
  font-size: 1.5rem;
}

/* menu */

.menu {
  transform: translateX(-1000px);
  transition: 0.3s;
  position: absolute;
  width: 35%;
  height: 520px;
  background: #ccc;
  padding-top: 50px;
}

.show-menu {
  transform: translateX(0px);
}

.menu a {
  display: flex;
  align-items: flex-end;
  height: 40px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
  font-size: 1.6rem;
  padding-left: 30px;
}

.menu a:hover {
  background: rgb(163, 162, 162);
  border-bottom: 1px solid grey;
  color: white;
}

/* for other pages to have correct slide menu height */

.menu-other-pages-height {
  height: 370px;
}

@media (min-width: 798px){
  /* reset the menu height */
  .menu-other-pages-height {
    height: 0px;
  }
}

/* !media nav-bar*/

@media (max-width: 400px) {
  .logo-text {
    font-size: 1.2rem;
  }
}

@media (min-width: 799px) {
  .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 11%;
  }
  .menu {
    position: relative;
    top: -30px;
    transform: translateX(0px);
    transition: 0s;
    display: flex;
    justify-content: flex-end;
    height: 0;
    padding: 0;
    width: 100%;
  }
  .menu li {
    height: 0;
    margin: 0 7px;
  }
  .menu a {
    color: white;
    text-align: center;
    padding-left: 0px;
  }
  .menu a:hover {
    background: transparent;
    border-bottom: 1px solid grey;
    opacity: 0.6;
  }
  #hamburger {
    display: none;
  }
}

/* !top-section */

.top-section {
  height: 450px;
  background: url("../img/vr-girl-resized-optimized.jpg") no-repeat center
    center/cover;
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 20px;
}

.top-section h1 {
  font-size: 7vw;
  color: white;
}

.top-section button {
  font-size: 2vw;
  color: white;
  padding: 0 0 0 20px;
  background: transparent;
  border: none;
  outline: none;
  text-decoration: underline;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.top-section button:hover {
  opacity: 0.6;
}
.top-section button:active {
  opacity: 1;
}

.fa-angle-down {
  font-size: 2.5rem;
}

/* !media top-section*/

@media (max-width: 500px) {
  .fa-angle-down {
    font-size: 2rem;
  }
  .top-section button {
    font-size: 1.2rem;
  }
  .top-section h1 {
    margin-bottom: -4px;
  }
}

@media (max-width: 400px) {
  .top-section h1 {
    margin-bottom: -2px;
  }
}

@media (min-width: 798px) {
  .top-section {
    background: url("../img/vr-2-1920.jpeg") no-repeat center 40% / cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 12%;
    padding-top: 12%;
  }
  .top-section h1 {
    font-size: 4rem;
    color: black;
  }
  .top-section button {
    font-size: 1.6rem;
  }
  .top-section button {
    margin-bottom: 1px;
  }

  .top-section h1 {
    text-align: right;
    padding-bottom: 20px;
  }
}

@media (min-width: 500px) {
  .top-section h1 {
    margin-bottom: -1px;
  }
  .fa-angle-down {
    font-size: 2rem;
  }
  .top-section button {
    font-size: 1.2rem;
    margin-bottom: 3px;
  }
}
@media (min-width: 550px) {
  .top-section h1 {
    margin-bottom: -2px;
  }
}

@media (min-width: 600px) {
  .top-section h1 {
    margin-bottom: -4px;
  }
}

@media (min-width: 650px) {
  .top-section h1 {
    margin-bottom: -5px;
  }
}

@media (min-width: 700px) {
  .top-section h1 {
    margin-bottom: -7px;
  }
}

/* !main */

/* Dropdown section */

/* hidden section */
.hidden-section {
  transform: translateY(-1000px);
  transition: 0.5s;
  opacity: 0;
  z-index: 0;
  background: #ccc;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 0;
  margin: 0;
}

.hidden-section h2 {
  text-align: center;
  padding-bottom: 20px;
}

.hidden-section p {
  text-align: left;
  width: 80%;
  margin: auto;
}

/* when toggled, this class will be added */
.show-section {
  /* transform: translateY(-1758px); */
  padding: 20px;
  transform: translateY(0px);
  opacity: 1;
  height: 100%;
}

#closeBtn {
  background: transparent;
  border: none;
  text-decoration: underline;
  padding-top: 20px;
  width: 15%;
  margin: auto;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
}
#closeBtn:active {
  color: white;
}

@media (min-width: 767px) {
  .hidden-section p {
    width: 60%;
  }
}

/* !main content */

.main-home-page .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  min-width: 150px;
  height: 250px;
  margin: auto;
}

.right-circle-card,
.left-circle-card {
  text-align: center;
}

.circle-wrapper {
  margin: 25px 0;
}

.circle-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-size: 2.5rem;
  transition: 0.3s;
}

.circle-card:hover {
  font-size: 3rem;
}

.circle-1 {
  border: 2px solid var(--pink);
  color: var(--pink);
}
.circle-2 {
  border: 2px solid var(--red);
  color: var(--red);
}
.circle-3 {
  border: 2px solid var(--blue);
  color: var(--blue);
}
.circle-4 {
  border: 2px solid var(--green);
  color: var(--green);
}
/* !media .main-home-page .container*/
@media (min-width: 600px) {
  .main-home-page .container {
    width: 100%;
    justify-content: center;
    height: 150px;
  }
  .right-circle-card,
  .left-circle-card {
    display: flex;
    align-items: center;
  }
  .circle-wrapper {
    padding: 0 25px;
  }
}

/* article section */

.article-section {
  background: var(--bg-black);
  width: 95%;
  margin: auto;
  padding: 10px 0 10px 0;
}

.article-section figure {
  padding: 20px 20px;
  max-width: 400px;
  margin: auto;
}
/* images */
.image-wrapper-1 {
  height: 200px;
  background: url("../img/science-img1.jpg") no-repeat center center/cover;
}
.image-wrapper-2 {
  height: 200px;
  background: url("../img/t-rex-resized.jpg") no-repeat 0% center/cover;
}
.image-wrapper-3 {
  height: 200px;
  background: url("../img/lab-img.jpeg") no-repeat center center/cover;
}
.image-wrapper-4 {
  height: 200px;
  background: url("../img/guy-painting-vr.jpg") no-repeat center center/cover;
}
/* caption */
.article-section figcaption {
  height: 70px;
  background: var(--bg-color);
  /* border: 1px solid var(--figcaption-border); */
  margin-top: -3px;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 15px 10px 15px;
  box-shadow: 0 10px 16px -6px var(--bg-black);
}
/* anchor tag */
.article-section figcaption a {
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-size: var(--p-font-size);
  margin: 0 10px;
  color: var(--blue);
}
/* hover */
.article-section figcaption a:hover {
  opacity: 0.6;
}

/* !media aricle section */

@media (max-width: 370px){
  .article-section figcaption p {
    font-size: 1.6rem;
  }
}

@media (max-width: 350px){
  .article-section figcaption p {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

@media (max-width: 400px){
  .article-section figcaption p {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}


@media (min-width: 760px) {
  .article-section {
    width: 80%;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    background: var(--bg-color);
  }
  .article-section figure {
    margin: 0 15px;
    padding: 20px 0;
    max-width: 260px;
  }
  .article-section figcaption {
    padding: 0 10px 10px 10px;
    height: 73px;
  }
  .article-section figcaption p {
    font-size: 14px;
    line-height: 2rem;
  }
  .article-section figcaption a {
    margin: 0;
    font-size: 12px;
  }
}

@media (min-width: 972px) {
  .article-section {
    width: 95%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .article-section figure {
    margin: 0 5px;
  }
}

/* !footer */

/* core */
footer {
  margin-top: 50px;
}

footer span {
  font-weight: bold;
}

footer p {
  font-size: 1.4rem;
  color: var(--bg-black);
}

footer a {
  color: var(--blue);
}

footer label {
  font-size: 1.4rem;
}
/* main components */

footer .container {
  width: 70%;
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .container > div,
form {
  padding: 20px;
}

.opening-hours-footer {
  max-width: 250px;
  margin-left: 10px;
}
/* more spesiffic to each div */

.social > div {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  margin: auto;
  padding: 20px 0;
}
.social a {
  font-size: 2rem;
  width: 20px;
  height: 20px;
}
.social a:hover {
  font-size: 2.3rem;
}
footer form input[type="text"] {
  height: 30px;
  padding: 0 15px;
  margin: 10px 0;
}

footer form input[type="submit"] {
  height: 30px;
  padding: 0 20px;
  display: block;
  background: var(--blue);
  border: 1.5px solid var(--bg-black);
  border-radius: 20px;
  cursor: pointer;
}
footer form input[type="submit"]:hover {
  opacity: 0.7;
}

/* back to top */

.back-to-top {
  padding: 10px;
}
.back-to-top a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-to-top .fa-angle-up {
  font-size: 2rem;
  margin-left: 5px;
}

/* !media */

@media (min-width: 668px) {
  footer .container {
    width: 72%;
    max-width: 72%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: start;
  }
  .contact-footer {
    margin-right: 20px;
  }
  .opening-hours-footer {
    margin-left: 0px;
  }
  .social {
    margin-right: 20px;
  }
}

@media (min-width: 760px) {
  footer {
    background: #ccc;
  }
}

@media (min-width: 900px) {
  footer .container {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  .social {
    margin-right: 0px;
  }
}

/* !Explore page */

/* background image */
.explore-img-section {
  background: url("../img/inside-museum-resized.jpg") no-repeat center
    center/cover;
  height: 300px;
}

/* explore article section */
.explore-section-1{
  width: 80%;
  max-width: 660px;
  margin: auto;
}

.explore-section-1 article{
  margin: 50px 0;
}

.explore-section-1 article:nth-child(1) {
  margin-top: 15px;
}

.explore-section-1 img {
  margin-top: 30px;
  max-width: 130px;
  float: right;
}

.explore-section-1 span {
  font-weight: bold;
}

/* explore section 2 */

.explore-section-2 {
  color: white;
  margin: 50px 0;
}

.explore-section-2 span{
  font-weight: bold;
}


.explore-section-2 article {
  padding: 20px;
  background: var(--bg-black);
  width: 85%;
  margin: auto;
  max-width: 700px;
}

.explore-section-2 img {
  margin-top: 30px;
  max-width: 130px;
  float: right;
}


/* explore section 3*/
.explore-section-3 span{
  font-weight: bold;
}
.explore-section-3{
  width: 80%;
  max-width: 660px;
  margin: auto;
}

.explore-section-3 img {
  margin-top: 20px;
  max-width: 130px;
  float: right;
}
/* explore section 4 */
.explore-section-4 {
  color: white;
  margin: 50px 0 -10px 0;
}

.explore-section-4 span{
  font-weight: bold;
}

.explore-section-4 article{
  padding: 30px 20px 40px 20px;
  background: var(--bg-black);
  width: 85%;
  margin: auto;
  max-width: 700px;
}


.explore-section-4 img {
  max-width: 130px;
  float: right;
}

/* explore section 5 */

.explore-section-5 span{
  font-weight: bold;
}
.explore-section-5{
  width: 80%;
  max-width: 660px;
  margin: auto;
}
.explore-section-5 article {
  margin: 50px 0;
}
.explore-section-5 img {
  margin-top: 20px;
  max-width: 170px;
  float: right;
}

/* !media */

@media (min-width: 760px) {
  .explore-section-1 img,
  .explore-section-2 img,
  .explore-section-3 img,
  .explore-section-4 img {
    max-width: 150px;
  }
  .explore-section-4 img {
    margin-top: -5px;
  }
  .explore-section-4 article {
    padding: 20px 20px 50px 20px;
  }
  .explore-section-5 img {
    max-width: 200px;
  }
}
